.poster {
    float: left;
    padding: 10px;
    padding-right: 20px;
    padding-top: 5px;
    padding-left: 100px;
}

.plot {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    width: 80%;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 70px;
    width: 100%;
    }