



body{ /* shows what the body should look like */
    border: black 8px solid ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 1000px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    background-color: rgb(142, 202, 74);
    
     
 }
 
 ul { /* generates the taskbar background and makes the size*/
     list-style-type: none;
     margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(68, 126, 48);
    height: 50px;
    
    
    
 }
li { 
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    margin-right: 20px;
    
   
}

li a, .dropbtn {
    display: inline-block;
    padding: 5px 16px;
    text-align: center;
    color: white;
    text-decoration: none; 
    
    
}
    
li a:hover, .dropdown:hover .dropbtn {
background-color: rgb(23, 22, 22);

} 
li.dropdown{
display: inline-block;

}
.active{
border-right: rgb(132, 123, 123);
margin-right: -20px;

}

.dropdown-content{
display:none;
position: absolute;
background-color: #f9f9f9f9;
width: 600px;
max-height: 430px;
box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
z-index: 1;



}
.dropdown-content a {
display: block;
text-align: left;
color: black;
padding: 12px 16px;
text-decoration: none;
margin-bottom: 10px;


}
.dropdown-content a:hover{background-color: #f1f1f1;}

.dropdown:hover .dropdown-content{
display:block;


}
.logo{


margin-top: 10px;
margin-left: 10px;
margin-top: -15;
background-color: white;
overflow: hidden;


}

.logo2{
margin-left: -20px;
display: inline-block;
padding: 5px 16px;
 text-align: center;
color: rgb(255, 217, 1);
 text-decoration: none; 


}

.logolist{
margin-top: -9px;
}
#ABbox{
float:right;

height: 350px;
width: 1130px;
margin-right: 20px;
margin-top: 15px;

}
#ABbox:hover{
box-shadow: 4px 3px 8px 8px  gray ;
}

.moviebox{
    float: left;
    border:3px black solid;
    width: 269px;
    height: 380px;
    margin: 15px;

}
.Mtextbox{
    float: right;
    border: 3px black solid;
    width: 800px;
    height: 380px;
    margin: 15px;
    margin-right: 40px;
}
/* Slideshow container */
.slideshow-container {
    position:relative;
    background: #f1f1f1f1;
    margin-top: 400px;
  }
  
  /* Slides */
  .mySlides {
    display:none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}
  /*addds color and emphazise to the topic*/
  .topic{
    float: left;
    width: 50x;
    height: 45px;
    background-color: darkgray;
    margin: 20px;
  
}

.paragraph {
   
   /* 
   JACK PUT YOUR COLOR CODE IN HERE 
   ALSO FIX THE FONT TO WHAT YOU HAVE IT AS :)
   */
    background-color: rgb(134, 186, 73);
    font-size: xx-large;
    text-align: center;
    border: solid 0px black;
    width: fit-content;
    height: fit-content;
    margin-left: 400px;
    margin-right: 400px;
    box-shadow: 4px 4px 4px 8px  gray;
    
}
.about_body{
  height: 600px;
  
}
#movie_body{
  height: 600px;
}
.button{
  float: left;
margin-left: 15px;
margin-top: 8px;
width: 269px;
height:100px;
font-size: xx-large;
background-color: darkgreen;

}
.download{
text-decoration: none;
color: rgb(255, 255, 255);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;



}
.button:hover{
  width: 289px;
height: 120px;

}
